body{
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-left: 12px;
    color: black;
    font-weight:bold;
}
.title span{
    color: rgb(255, 37, 37);
}

.container{
    width: 500px;
    margin: 0 auto;
}
.container h1{
    margin-top: 40px;
    text-align: center;
}
.container .btn{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    background-color:#fff;
    width:100%;
    margin-top:30px;
    padding:10px 10px;
    border-radius: 4px;
    cursor:pointer;
}

.btn:hover:not([disabled]){
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.btn:disabled{
    cursor: no-drop;
}

.submit{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    background-color: #000;
    color: #fff;
    margin-top:30px;
    width:100%;
    padding:10px 10px;
    border-radius: 4px;
    cursor:pointer;
    border:#000;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: none;
}

.submit:hover{
   transform: translateY(-2px);
   transition: transform 0.2s ease;
}
.correctBtn{
    border-color:green;
    color:green;
}
.correctBtn:hover{
    box-shadow: 10px 10px 0px -2px green;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.incorrectBtn{
    border-color: #ff0000;
    color:red;
}

.incorrectBtn:hover{
    box-shadow: 10px 10px 0px -2px red;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.skor{
    text-align: center;
    font-size: 50px;
    color: #000;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.footer{
    margin-top: 100px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width:600px) {
    .container h1{
        margin-top: 50px;
    }
    .container{
        width: 400px;
    }
  }